*{
          margin: 0%;
          padding: 0%;
          font-family:'Times New Roman', Times, serif'
        }
       body{
        font-size: 1rem; margin: 0;padding: 0;
       }
       p{
        font-size:0.9rem;
       }
        header{
          padding: 25px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color:maroon; 
        }
        header h2{
            background-color:goldenrod;
            border-radius: 70px 10px;
            padding: 10px;
            color:white;
            margin-right: 20px;
            font-size: 30px;
            font-weight:800;
        }
        nav a{
            text-decoration: none;
            padding: 10px;
            color:white;
            margin-right: 20px;
            font-size: 15px;
            font-weight:800;
        }
        nav a:hover{
            color:chocolate
        }
        .image{
            width: 100vw;
            height: 60vh;
        }
        .auto{
            position: absolute;
            top:40vh;
            right: 35vw;
            color:aliceblue;
            font-size: 40px;
            font-weight:80px;
        }
        #about{
            padding:80px 80px ;
            background-color:darkgrey;
        }
        #about h1{
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 20px;
            font-size: 40px;
            color:maroon;
        }
        #about p{
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 18px;
            text-align: center;
        }
        #work h1{   
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 20px;
            font-size: 40px;
            color:maroon;
        }
        .video{
            display: flex;
            gap:20px;
            overflow-x: hidden;
            width: 90%;
            margin: 50px auto;   
        }
        .video-card{
            min-width: 300px;
            height: 200px;
            text-align: center;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color:brown;
        }
        .video-card video{
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
        }
        .video-card p{
            margin-top: 5px;
            font-size: 20px;
            color:maroon;
        }
        #contact{
            text-align: center;
       
        }
        #contact h1{
            text-align: center;
            padding: 20px;
            font-size:41px;
            color: maroon;   
        }
        .contact{
            background-color:maroon;
            margin: 20px auto;
            width: 30%;
            border-radius: 20px;
            border: 10px  solid;
            border-color:brown
        }
      
        input,textarea{
            padding: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            border-radius: 10px;
            width: 50%;
            font-size: 16px;
            border: 5px solid;
            border-color: brown;
            
        }
        input:focus,textarea:focus{
            outline: 2px solid sandybrown
        }
        form button{
            font-size: 18px;
            border-radius: 10px;
            padding: 10px;
            border: 5px solid;
            border-color: brown;
            background-color:maroon;
            color: white;
            margin-bottom: 5px;
        }

            
    
        footer{
            background-color:maroon;
            color:white;
            padding:20px 0;
            text-align: center;
            margin-top: 50px;
            font-size: 0.9rem;
        }
